* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
main {
  display: flex;
  flex-wrap: row wrap;
  justify-content: center;
}

button {
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 3px 3px #a1a1a1;
}

button:hover {
  color: #e2e2e2;
  border: 1px #e2e2e2 solid;
  background-color: #321E1E;
  box-shadow: 2px 2px #000000, 2px 2px 0px 1px#e2e2e2;
}