.calcContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: #321E1E;
}

.textBox {
  height: 70px;
  margin: 10px;
  padding-right: 15px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  line-height: 70px;
  border: none; 
  border-radius: 5px;
  background-color: #DAD4B5;
  box-shadow: inset 5px 5px #878470;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  margin: 10px;
}

.operatorButton {
  color: #e2e2e2;
  background-color: #116d6e;
  box-shadow: 3px 3px#0c4d4e;
}

.specialButton {
  color: #e2e2e2;
  background-color: #CD1818;
  box-shadow: 3px 3px#810f0f;
}